body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: #afbdd4; /* lighter blue */
}

.container {
  width:80%;
  margin:auto;
  overflow:hidden;
}

header{
  color: #ffffff;
  border-bottom: #3b5998 4px solid; /* darkest blue */
  background: #6d84b4; /* medium blue */
  padding-top:30px;
  min-height:70px;
}

header a{
 color: #ffffff;
 text-decoration:none;
 text-transform: uppercase;
 font-size: 24px;
}
