body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: #d8dfea; /* lightest blue */
}

ul{
  margin:0;
  padding:0;
}

header{
  color: #ffffff;
  border-bottom: #3b5998 4px solid; /* darkest blue */
  background: #6d84b4; /* medium blue */
  padding-top:30px;
  min-height:70px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header li{
  float:left;
  display:inline;
  padding: 0 25px 0 25px;
}

header a{
 color: #ffffff;
 text-decoration:none;
 text-transform: uppercase;
 font-size: 24px;
}

header #name{
  float: left;
}

header #name h1{
 margin:0; 
}

header nav{
  float:right; 
  margin-top:15px;
}

.container {
  width:80%;
  margin:auto;
  overflow:hidden;
}


